/* Custom Stylesheet */

/* TODO, maybe: actually use the 'materialize.css' and do all customization here.. unlike my initial attempt at styling */

/* ICONS */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.icon-test {
  height: 1px;
}

.icon-square {
  height: 1em;
  width: 1em;
  margin: 0px 5px;
  filter: brightness(0) invert(1);
}

.icon-linkedin {
  height: 1em;
  width: 1.176em;
  margin-left: 5px;
  margin-right: 5px;
  filter: brightness(0) invert(1);
}


/* FONTS */

html {
  font-family: 'Montserrat', sans-serif;
}

.brand-logo {
  font-family: 'Libre Baskerville', serif;
}

nav .brand-logo.hide-on-large-only {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}


/* COLORS */

.rose {
  background-color: #FDC2ED !important;
}

.rose-text {
  color: #FDC2ED !important;
}

.rose.darken {
  background-color: #B076A0 !important;
}

.rose-text.darken {
  color: #B076A0 !important;
}

.mint.lighten {
  background-color: #A9FCFC !important;
}

.mint-text.lighten {
  color: #A9FCFC !important;
}

.mint {
  background-color: #7FB0B0 !important;
}

.mint-text {
  color: #7FB0B0 !important;
}

.cheese {
  background-color: #FCF7DC !important;
}

.cheese-text {
  color: #FCF7DC !important;
}


/* GENERAL */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* TODO: use CSS variables intead of repeating the HEX for mint-text here */
h4 {
  color: #7FB0B0 !important;
}

/*todo: same here for rose, use CSS var*/
footer {
  background-color: #FDC2ED !important;
}
nav {
  background-color: #FDC2ED !important;
}

nav ul li.active {
  background-color: #7FB0B0 !important;
}


/* DARK THEME */

/* NOTE: to use this, we need <body class="dark-theme">. */
/* TODO: add a color scheme toggle somewhere in the header probably */

body.dark-theme {
  /* TODO: use hex, b/c why not */
  background-color: rgb(30, 30, 30);
  color: rgb(197, 197, 197);
}

/* TODO: use CSS variables for... everything in this dark-theme section */

body.dark-theme h4 {
  color: #f5a4df !important;
}

body.dark-theme footer {
  background-color: #7FB0B0 !important;
}
body.dark-theme nav {
  background-color: #7FB0B0 !important;
}

body.dark-theme nav ul li.active {
  /* TODO: use the following color for rose.darken, probably. i like the way it looks better */
  /* frankly i really like the current pink on the default light theme.. but play around with this shade, too, or something similar. might be more readable */
  background-color: #f5a4df !important;
} 

body.dark-theme .sidenav {
  background-color: rgb(30, 30, 30);
}
body.dark-theme .sidenav li a {
  color: rgb(197, 197, 197);
}

body.dark-theme .sidenav li>a:hover {
  background-color: rgb(50, 50, 50);
}


/* TODO: add a high-contrast theme too */


/* FOOTER */

.page-footer {
  padding-top: 0px;
}

.page-footer .footer-copyright {
  min-height: 0px;
}
