/* Custom Stylesheet */

/* ICONS */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.icon-square {
  height: 1em;
  width: 1em;
  margin: 0px 5px;
  filter: brightness(0) invert(1);
}

.icon-linkedin {
  height: 1em;
  width: 1.176em;
  margin-left: 5px;
  margin-right: 5px;
  filter: brightness(0) invert(1);
}


/* FONTS */

html {
  font-family: 'Montserrat', sans-serif;
}

.brand-logo {
  font-family: 'Libre Baskerville', serif;
}

nav .brand-logo.hide-on-large-only {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}


/* COLORS */

.rose {
  background-color: #FFB7DA !important;
}

.rose-text {
  color: #FFB7DA !important;
}

.rose.darken {
  background-color: #B076A0 !important;
}

.rose-text.darken {
  color: #B076A0 !important;
}

.mint.lighten {
  background-color: #A9FCFC !important;
}

.mint-text.lighten {
  color: #A9FCFC !important;
}

.mint {
  background-color: #7FB0B0 !important;
}

.mint-text {
  color: #7FB0B0 !important;
}

.cheese {
  background-color: #FCF7DC !important;
}

.cheese-text {
  color: #FCF7DC !important;
}


/* TODO: use CSS variables for... everything in the following two sections */

/* GENERAL */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h4 {
  color: #7FB0B0 !important;
}

footer {
  background-color: #FFB7DA !important;
}
nav {
  background-color: #FFB7DA !important;
}

nav ul li.active {
  background-color: #7FB0B0 !important;
}

.sidenav li a.active {
  color: #7FB0B0 !important;
}


/* DARK THEME */

body.dark-theme {
  background-color: #1E1E1E;
  color: #C5C5C5;
}

body.dark-theme h4 {
  color: #FFB7DA !important;
}

body.dark-theme footer {
  background-color: #7FB0B0 !important;
}
body.dark-theme nav {
  background-color: #7FB0B0 !important;
}

body.dark-theme nav ul li.active {
  background-color: #FFB7DA !important;
} 

body.dark-theme .sidenav {
  background-color: #1E1E1E;
}
body.dark-theme .sidenav li a {
  color: #C5C5C5;
}

body.dark-theme .sidenav li a.active {
  color: #FFB7DA !important;
}

body.dark-theme .sidenav li>a:hover {
  background-color: #323232;
}


/* TODO: add a high-contrast theme too */


/* FOOTER */

.page-footer {
  padding-top: 0px;
}

.page-footer .footer-copyright {
  min-height: 0px;
}
