/* Custom Stylesheet */


/* ICONS */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.icon-square {
  height: 1em;
  width: 1em;
  margin: 0px 5px;
  filter: brightness(0) invert(1);
}

.icon-linkedin {
  height: 1em;
  width: 1.176em;
  margin-left: 5px;
  margin-right: 5px;
  filter: brightness(0) invert(1);
}


/* FONTS */

html {
  font-family: 'Montserrat', sans-serif;
}

.brand-logo {
  font-family: 'Libre Baskerville', serif;
}

nav .brand-logo.hide-on-large-only {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}


/* COLORS */

:root {
  --rose: #FFB7DA;
  --mint: #7FB0B0;
  --dark-gray: #1E1E1E;
  --medium-dark-gray: #323232;
  --light-gray: #C5C5C5;
}


/* GENERAL */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h4 {
  color: var(--mint);
}

footer.page-footer {
  background-color: white;
}

footer.page-footer .footer-copyright {
  background-color: var(--rose);
}

footer.page-footer>div.container {
  font-size: 0.8em;
  padding-bottom: 0.5rem;
  color: var(--dark-gray);
  background-color: white;
}

nav {
  background-color: var(--rose);
}

nav ul li.active {
  background-color: var(--mint);
}

.sidenav li a.active {
  color: var(--mint);
}

.sidenav li a.theme-toggle:hover {
  background-color: white;
}


/* DARK THEME */

body.dark-theme {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

body.dark-theme h4 {
  color: var(--rose);
}

body.dark-theme footer.page-footer {
  background-color: var(--dark-gray);
}

body.dark-theme footer.page-footer .footer-copyright {
  background-color: var(--mint);
}

body.dark-theme footer.page-footer>div.container {
  color: var(--light-gray);
  background-color: var(--dark-gray);
}

body.dark-theme nav {
  background-color: var(--mint);
}

body.dark-theme nav ul li.active {
  background-color: var(--rose);
}

body.dark-theme .sidenav {
  background-color: var(--dark-gray)
}

body.dark-theme .sidenav li a {
  color: var(--light-gray)
}

body.dark-theme .sidenav li a.active {
  color: var(--rose);
}

body.dark-theme .sidenav li a:hover {
  background-color: var(--medium-dark-gray);
}

body.dark-theme .sidenav li a.theme-toggle:hover {
  background-color: var(--dark-gray);
}

/* TODO: add a high-contrast theme too */


/* FOOTER */

.page-footer {
  padding-top: 0px;
}

.page-footer .footer-copyright {
  min-height: 0px;
}
