<footer class="page-footer">
  <div class="container center">
    <i><%= locals.flavorText ? flavorText : '' %></i>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      <a href="https://github.com/MaryRosariaTaft" target="_blank" rel="noopener noreferrer">
        <img class="icon-square" src="images/icons/github.png" alt="GitHub icon">
      </a>
      <a href="https://www.linkedin.com/in/maryrtaft" target="_blank" rel="noopener noreferrer">
        <img class="icon-linkedin" src="images/icons/linkedin.png" alt="LinkedIn icon">
      </a>
    </div>
  </div>
</footer>
