<footer class="page-footer rose">
    <div class="footer-copyright">
      <div class="container center">
        Check out my <a class="mint-text" href="https://github.com/MaryRosariaTaft">GitHub</a> and <a class="mint-text"
          href="https://www.linkedin.com/in/maryrtaft">LinkedIn</a>!
        <br>
        And I need to replace these links with icons!
      </div>
    </div>
</footer>
