<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center mint-text darken">
      <%= title %>
    </h1>
    <div class="row center">
      <h5 class="header col s12 light">
        The <%= title.toLowerCase() %> page works!
      </h5>
    </div>
    <br>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <div class="icon-block">
          <h2 class="center rose-text"><i class="material-icons">
              <%= icon %>
            </i>
          </h2>
          <h5 class="center">
            <%= title %>
          </h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Mauris at mattis sem. Cras et diam eget orci iaculis blandit quis vitae metus.
            Etiam porta, diam euismod tempor tristique, risus ante imperdiet massa, eu
            imperdiet risus sapien sit amet erat. Mauris rhoncus volutpat lacus, eget laoreet
            ante hendrerit vitae.</p>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>
