<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center mint-text darken">
      <%= title %>
    </h1>
    <div class="icon-block">
      <h2 class="center rose-text"><i class="material-icons">
          <%= icon %>
        </i>
      </h2>
      <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris at mattis sem. Cras et diam eget orci iaculis blandit quis vitae metus.
        Etiam porta, diam euismod tempor tristique, risus ante imperdiet massa, eu
        imperdiet risus sapien sit amet erat. Mauris rhoncus volutpat lacus, eget laoreet
        ante hendrerit vitae.</p>
    </div>

  </div>
</div>
