<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h4 class="header center">
      <%= title %>
    </h4>
    <div class="icon-block">
      <!-- TODO: constrain width of this text on large(/xl) screens -->
      <p class="light center"><%= introText %></p>
    </div>

  </div>
</div>
