<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h4 class="header center mint-text darken">
      <%= title %>
    </h4>
    <div class="icon-block">
      <h4 class="center rose-text"><i class="material-icons">
          <%= icon %>
        </i>
      </h4>
      <!-- TODO: constraint width of this text on large(/xl) screens, and
                 use this space to describe how i got started in each of my hobbies or something like that -->
      <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris at mattis sem. Cras et diam eget orci iaculis blandit quis vitae metus.
        Etiam porta, diam euismod tempor tristique, risus ante imperdiet massa, eu
        imperdiet risus sapien sit amet erat. Mauris rhoncus volutpat lacus, eget laoreet
        ante hendrerit vitae.</p>
    </div>

  </div>
</div>
