<!DOCTYPE html>
<html lang="en">

<body>

    <p>za warudo</p>
    <p><%= phrase %></p>

    <ul>
        <% listOfNumbers.forEach(function(num){ %>
            <li>number <%= num %>!</li>
        <% }); %>
    </ul>

</body>

</html>
